# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
text-ui-test/data

# Compiled Java Classes and created data file
src/main/java/*.class
src/ran/command/*.class
src/ran/exception/*.class
src/ran/task/*.class
src/data
