#.vscode Folder
/.vscode

# Class files
*.class

# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
V.txt
*.jar
src/main/java/META-INF/
# text-ui-test/EXPECTED-UNIX.TXT
